body {
  background-color: #F5F6FF;
}

.profile-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 헤더 스타일 */
.profile-header {
  padding: 40px 0 0 20px ;
}

.profile-header img {
  height: 50px;
  width: 130px; 
}


/* 이미지 영역 */
.profile-image {
  width: 200px;
  height: 200px;

  padding-left: 100px;
  flex-shrink: 0;
  margin-right: 40px;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e0e0e0;
}

/* 콘텐츠 영역 */
.profile-content {
  padding-top: 50px;
  flex-grow: 1;
  width: 900px;
  display: flex;
  gap: 15px;
}

.profilecontent-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.profilecontent-content{
  background-color: #EAF3FF;
  height: 150px;
  width: 800px;
}
.profilecontent-name{
  color: #296088;
  font-weight: bold;
  font-family: 'NanumGothic';
  padding-bottom: 15px;
  font-size: 30px;
}
.profilecontent-title{
  color: #296088;
  font-family: 'NanumGothic';
  padding: 15px 30px;
  font-size: 20px;
}
.profilecontent-con{
  color: #296088;
  font-weight: bold;
  font-family: 'NanumGothic';
  padding: 5px 30px;
  font-size: 20px;
}

