 .container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #ABE4F3;
  text-align: center;
  background-blend-mode: lighten;
}
.subtract{
  width: 100%;
}
.content {
  background-color: #b3e5fc;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
 }

 .logo{
  width: 40%;
  height: 10%; 
}
.subtitle{
  padding-top: 40px;
  top : 296.37px;
  left: 478.5px;
  gap: 0px;
  opacity: 0px;
  font-family: NanumGothicOTF;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #FFFFFF;
}
button {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.naver-button {
  padding: 0;
  border: none;
  width: 50%;
  height: 30%;
  background: none;
  cursor: pointer;
  outline: none;
}

.naver-button img {
  display: block;
  width: 100%;
  height: auto;
}

.kakao-button {
  padding: 0;
  border: none;
  width: 50%;
  background: none;
  cursor: pointer;
  outline: none;
}

.kakao-button img {
  display: block;
  width: 100%;
  height: auto;
}
.bubble {
  height: 100%;
  width: 100%;
  position: absolute;
}


