/* 전체 컨테이너 */
.profile-container {
  width: 100%;
  max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto;
  background-color: #F5F6FF; /* 배경색 유지 */
}

/* 헤더 스타일 */
.profile-header {
  display: flex;
  justify-content: space-between; /* 로고와 버튼 그룹 양쪽 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 20px 0px; /* 좌우 여백 조정 */
}

.profile-header img {
  height: 60px; /* 로고 크기 조정 */
  width: auto;
}

/* 프로필 영역 */
.profile-content {
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; /* 세로 중앙 정렬 */
}

.profile-image {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e0e0e0;
}

/* 프로필 콘텐츠 영역 */
.profilecontent-content {
  flex-grow: 1; /* 콘텐츠가 남은 공간 채우기 */
  background-color: #EAF3FF;
  padding: 30px;
  border-radius: 20px;
}

.profilecontent-name {
  font-size: 30px;
  font-weight: bold;
  font-family: 'NanumGothic';
  color: #296088;
  padding-bottom: 15px;
}
.profilecontent-content{
  background-color: #EAF3FF;
  height: 150px;
  width: 800px;
}
.profilecontent-date{
  color: #296088;
  font-family: 'NanumGothic';
  padding: 25px 30px 0px 30px; 
  font-size: 20px;
}
.profilecontent-id{
  color: #296088;
  font-family: 'NanumGothic';
  padding: 15px 30px 15px 30px ;
  font-size: 20px;
}
.profilecontent-count{
  color: #296088;
  font-family: 'NanumGothic';
  padding:  0px 30px 25px 30px;
  font-size: 20px;
}
.profilecontent-con{
  color: #296088;
  font-weight: bold;
  font-family: 'NanumGothic';
  padding: 5px 30px;
  font-size: 20px;
}