#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  font-family: 'NanumGothic';
  background-color: #f5f6ff;
  margin: 0;
}
* {
    background: linear-gradient(
        to bottom,
        #66A0CB 0%,
        #296088 20%,
        #2E648C 40%,
        #FFFFFF 60%
      );
}