@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/NanumGothicBold.otf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/NanumGothicExtraBold.otf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundOTFEB.otf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

:root {
  font-family: 'NanumGothic', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
body, * {
  margin: 0;
  background-color: #F5F6FF;
}
}
